<div class="side-nav">
  <nav>
    <ul type="none">
      <li>
        <a href="">
          <h1>LOGO</h1>
        </a>
      </li>
      <li>
        <a href="">
          <i class="uil uil-house-user" id="home"></i>
          <span id="home">Home</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="uil uil-plus-circle" id="add-foods"></i>
          <span id="add-foods">Add Foods</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="uil uil-list-ul" id="my-food-list"></i>
          <span id="my-food-list">My Food List</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="uil uil-crockery" id="find-food-shop"></i>
          <span id="find-food-shop">Find Food Shop</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="uil uil-user" id="profile"></i>
          <span id="profile">Profile</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="uil uil-setting" id="account"></i>
          <span>Account</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
