<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Track your daily nutrition intake">
    <meta name="keywords" content="Calorie Tracker, Food Nutrition">
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet" />

    <title>MoniFit - Home</title>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/css/sidebar.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
  <main> -->
    <div class="side-nav">
      <nav>
        <ul type="none">
          <li>
            <a href="">
              <h1>LOGO</h1>
            </a>
          </li>
          <li>
            <a href="">
              <i class="uil uil-house-user"></i>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="uil uil-plus-circle"></i>
              <span>Add Foods</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="uil uil-list-ul"></i>
              <span>My Food List</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="uil uil-crockery"></i>
              <span>Find Food Shop</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="uil uil-user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="uil uil-setting"></i>
              <span>Account</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  <!-- </main>
</body>
</html> -->