<main>
  <div class="side-nav">
    <nav>
      <ul type="none">
        <li>
          <a href="dasboard_rpl_24_M.Rafie Afkar.html">
            <i class="uil uil-house-user"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="dasboard_listdata_rpl_24_M. Rafie Afkar.html">
            <i class="uil uil-books"></i>
            Data Buku
          </a>
        </li>
        <li>
          <a href="#">
            <i class="uil uil-users-alt"></i>
            Data Penerbit
          </a>
        </li>
        <li>
          <a href="#">
            <i class="uil uil-filter"></i>
            Data Genre
          </a>
        </li>
        <li>
          <a href="#">
            <i class="uil uil-head-side"></i>
            Data Petugas
          </a>
        </li>
        <li>
          <a href="#">
            <i class="uil uil-user"></i>
            Data Anggota
          </a>
        </li>
        <li>
          <a href="#">
            <i class="uil uil-key-skeleton-alt"></i>
            Peminjaman
          </a>
        </li>
        <li>
          <a href="#">
            <i class="uil uil-history-alt"></i>
            Pengembalian
          </a>
        </li>
      </ul>
    </nav>
  </div>
</main>