body {
  font-family: "Lato", sans-serif;
}

main .side-nav {
  width: fit-content;
  border-radius: 20px;
  margin-left: 10px;
  transition: 0.2s;
  box-shadow: 0px 0px 6px 0px rgb(201, 201, 201);
  background-color: #fff;
}

main .side-nav nav ul {
  width: 100%;
  padding: 0 0 0 0 !important;
}

main .side-nav nav ul li {
  display: flex;
  width: 100%;
  transition: 0.2s;
}

main .side-nav nav ul li:first-child a {
  color: #FF6600;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

main .side-nav nav ul li:last-child a {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

main .side-nav nav ul li:first-child a i {
  color: #FF6600;
}

main .side-nav nav ul li a {
  display: flex;
  align-items: center;
  gap: 0.9em;
  width: 100%;
  padding: 1em 1.5em;
  color: #0a1931;
  transition: 0.2s;
  text-decoration: none;
}

main .side-nav nav ul li a i {
  font-size: 24pt;
  color: #0a1931;
  margin-right: 2px;
}

main .side-nav nav ul li a span {
  font-size: 12pt;
}

main .side-nav nav ul li a:hover {
  background-color: #efefef;
}