/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li span#account, li a i#account {
  color: #FF6600 !important;
}

.main-content {
  display: flex;
  padding: 100px 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 150px;
}
.main-content .container {
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.221);
  border-bottom: 3px solid #FF6600;
  transition: 0.2s;
}
.main-content .container .title {
  font-weight: 800;
  font-size: 24px;
}
.main-content .button {
  background-color: #FF6600;
  width: 100%;
  color: white;
  padding: 5px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.221);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.main-content .button:hover {
  background-color: #e65c00;
}
.main-content .button i {
  font-size: 25px;
}
.main-content .image-card {
  display: flex;
  border-radius: 10px;
  gap: 10px;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid grey;
  transition: 0.2s;
  cursor: pointer;
}
.main-content .image-card:hover {
  background-color: rgba(0, 0, 0, 0.032);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.221);
}
.main-content .image-card .title {
  margin-bottom: 10px;
}
.main-content .image-card img {
  aspect-ratio: 1/1;
  object-fit: cover;
  max-height: 100px;
  max-width: 100px;
  border-radius: 10px;
}
.main-content h1 {
  font-size: 36px;
  font-weight: 800;
}
.main-content .plans {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.main-content .plans .plan-card {
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-top: 2px solid #FF6600;
  padding: 10px 0;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.221);
  border-radius: 25px;
}
.main-content .plans .plan-card .title {
  font-size: 16px;
}
.main-content .plans .plan-card .pricing {
  font-size: 36px;
}
.main-content .plans .plan-card .benefit-bar {
  margin-left: -10px;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.279);
  padding: 10px;
  width: 100%;
  gap: 25px;
}
.main-content .plans .plan-card .benefit-bar i {
  color: #FF6600;
}
.main-content .plans .plan-card .benefit-bar .benefit {
  display: flex;
}
.main-content .plans .plan-card .button {
  background-color: #FF6600;
  width: 80%;
  color: white;
  padding: 5px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.221);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.main-content .plans .plan-card .button:hover {
  background-color: #e65c00;
}
.main-content .plans .plan-card .button i {
  font-size: 25px;
}

/*# sourceMappingURL=subscribe.css.map */
